# requirements file

python-dotenv~=1.0.1
python-dotenv[cli]
icecream
faker
numpy
pandas
ydata_profiling
streamlit_ydata_profiling
#streamlit-pandas-profiling
streamlit
scipy
matplotlib
openpyxl
xlrd
