# requirements file updated to version with more state data

# sudo apt-get install python3-dev graphviz libgraphviz-dev pkg-config

#Models Used:
#OpenAI:
# - gpt-3.5, gpt-4o : Standard Key
# - tavily search tool : Joe has the key

python-dotenv~=1.0.1
python-dotenv[cli]
icecream
faker
numpy
pandas
ydata_profiling
streamlit_ydata_profiling
#streamlit-pandas-profiling
streamlit
scipy
matplotlib
openpyxl
xlrd
